<style>
    .group::after, .tabBlock-tabs::after {
        clear: both;
        content: "";
        display: table;
      }
      
      *, ::before, ::after {
        box-sizing: border-box;
      }
      
      body {
        color: #222;
        font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        line-height: 1.5;
        margin: 0 auto;
        max-width: 50rem;
        padding: 2.5rem 1.25rem;
      }
      @media screen and (min-width: 700px) {
        body {
          font-size: 137.5%;
        }
      }
      
      p, ol, ul {
        margin-bottom: 1.25rem;
        margin-top: 0;
      }
      
      ol, ul {
        padding: 0;
        margin-left: 1.25rem;
      }
      
      .unstyledList, .tabBlock-tabs {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      .tabBlock {
        margin: 0 0 2.5rem;
      }
      
      .tabBlock-tab {
        background-color: #fff;
        border-color: #d8d8d8;
        border-left-style: solid;
        border-top: solid;
        border-width: 2px;
        color: #b5a8c5;
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        float: left;
        padding: 0.625rem 1.25rem;
        position: relative;
        -webkit-transition: 0.1s ease-in-out;
                transition: 0.1s ease-in-out;
      }
      .tabBlock-tab:last-of-type {
        border-right-style: solid;
      }
      .tabBlock-tab::before, .tabBlock-tab::after {
        content: "";
        display: block;
        height: 4px;
        position: absolute;
        -webkit-transition: 0.1s ease-in-out;
                transition: 0.1s ease-in-out;
      }
      .tabBlock-tab::before {
        background-color: #b5a8c5;
        left: -2px;
        right: -2px;
        top: -2px;
      }
      .tabBlock-tab::after {
        background-color: transparent;
        bottom: -2px;
        left: 0;
        right: 0;
      }
      @media screen and (min-width: 700px) {
        .tabBlock-tab {
          padding-left: 2.5rem;
          padding-right: 2.5rem;
        }
        body{
            width:100%;
        }
      }
      .tabBlock-tab.is-active {
        position: relative;
        color: #975997;
        z-index: 1;
      }
      .tabBlock-tab.is-active::before {
        background-color: #975997;
      }
      .tabBlock-tab.is-active::after {
        background-color: #fff;
      }
      
      .tabBlock-content {
        background-color: #fff;
        border: 2px solid #d8d8d8;
        padding: 1.25rem;
      }
      
      .tabBlock-pane > :last-child {
        margin-bottom: 0;
      }
      .form-control{
          width:100%;
          padding: 13px;
      }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<body>
    <div class="row">
        <div="col-sm-6">
            <figure class="tabBlock">
            <ul class="tabBlock-tabs">
                <li class="tabBlock-tab is-active">Register As A Company</li>
                <li class="tabBlock-tab">Register As A User</li>
            </ul>
            <div class="tabBlock-content">
                <div class="tabBlock-pane">
                    <form id="msform" action="#" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <!-- fieldsets -->
                        <fieldset>
                            <h4 class="text-light">Welcome to <span style="color:red">JOBS 4 YOU</span> family</h4>
                            <div class="row">
                                <div class="col-lg-12">
                                    <input class="form-control" type="text" name="cname" placeholder="Company Name"/><br><br>
                                    <input class="form-control" type="text" name="caddress" placeholder="Company Address"/><br><br>
                                    <input class="form-control" type="text" name="city" placeholder="City"/><br><br>
                                    <input class="form-control" type="number" name="pincode" placeholder="Pincode"/><br><br>
                                    <input class="form-control" type="email" name="cemail" placeholder="Email"/><br><br>
                                    <input class="form-control" type="number" name="phone" placeholder="Contact Number"/><br><br>
                                    <input class="form-control" type="password" name="cpassword" placeholder="Password"/><br><br>
                                    <input class="form-control" type="password" name="concpassword" placeholder="Confirm password"/><br><br>
                                    <input class="form-control" style="background-color:green;color:white" type="submit" name="submit" class="next action-button" value="Submit"/><br>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="tabBlock-pane">
                    <form id="msform" action="#" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <!-- fieldsets -->
                        <fieldset>
                            <h4 class="text-light">Welcome to <span style="color:red">JOBS 4 YOU</span> family</h4>
                            <div class="row">
                                <div class="col-lg-12">
                                    <input class="form-control" type="text" name="name" placeholder="Name"/><br><br>
                                    <input class="form-control" type="text" name="address" placeholder="Address"/><br><br>
                                    <input class="form-control" type="text" name="city" placeholder="City"/><br><br>
                                    <input class="form-control" type="number" name="pincode" placeholder="Pincode"/><br><br>
                                    <input class="form-control" type="email" name="email" placeholder="Email"/><br><br>
                                    <input class="form-control" type="number" name="phone" placeholder="Contact Number"/><br><br>
                                    <input class="form-control" type="text" name="experience" placeholder="Experience"/><br><br>
                                    <input class="form-control" type="text" name="skills" placeholder="Skills"/><br><br>
                                    <input class="form-control file-upload-info" disabled type="file" name="resume" placeholder="Upload your Resume"/><br><br>
                                    <input class="form-control" type="password" name="password" placeholder="Password"/><br><br>
                                    <input class="form-control" type="password" name="cpassword" placeholder="Confirm password"/><br><br>
                                    <input class="form-control" style="background-color:green;color:white" type="submit" name="submit" class="next action-button" value="Submit"/><br>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            </figure>
        </div>
    </div>
</body>
<script>
    var TabBlock = {
        s: {
          animLen: 200
        },
        
        init: function() {
          TabBlock.bindUIActions();
          TabBlock.hideInactive();
        },
        
        bindUIActions: function() {
          $('.tabBlock-tabs').on('click', '.tabBlock-tab', function(){
            TabBlock.switchTab($(this));
          });
        },
        
        hideInactive: function() {
          var $tabBlocks = $('.tabBlock');
          
          $tabBlocks.each(function(i) {
            var 
              $tabBlock = $($tabBlocks[i]),
              $panes = $tabBlock.find('.tabBlock-pane'),
              $activeTab = $tabBlock.find('.tabBlock-tab.is-active');
            
            $panes.hide();
            $($panes[$activeTab.index()]).show();
          });
        },
        
        switchTab: function($tab) {
          var $context = $tab.closest('.tabBlock');
          
          if (!$tab.hasClass('is-active')) {
            $tab.siblings().removeClass('is-active');
            $tab.addClass('is-active');
         
            TabBlock.showPane($tab.index(), $context);
          }
         },
        
        showPane: function(i, $context) {
          var $panes = $context.find('.tabBlock-pane');
         
          // Normally I'd frown at using jQuery over CSS animations, but we can't transition between unspecified variable heights, right? If you know a better way, I'd love a read it in the comments or on Twitter @johndjameson
          $panes.slideUp(TabBlock.s.animLen);
          $($panes[i]).slideDown(TabBlock.s.animLen);
        }
      };
      
      $(function() {
        TabBlock.init();
      });
</script>