{% extends 'user_index.html'%} {% load static %} {% block content %}

<section>
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mb100">                        
                    <h2 class="section-heading"><span class="theme-accent-color">COMPANIES</span></h2>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row project-item">
                <div class="col-sm-3">
                    <p>1Behind sooner dining so window excuse he summer. Breakfast met certainty and fulfilled propriety led. Waited get either are wooded little her. Contrasted unreserved as mr particular collecting it everything as indulgence. Seems ask meant merry could put. Age old begin had boy noisy table front whole given.</p>
                </div>
                <div class="col-sm-9 mb60 wow fadeIn" data-wow-delay="0.2s">
                    <div class="row">
                        <div class="col-xs-12 single-post-content">                                
                            <div class="hover-item gap">                                    
                                <img src="{% static 'assets/img/team/TCS.png' %}" class="img-responsive smoothie wow fadeIn" data-wow-delay="0.2s" alt="title">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row project-item">
                <div class="col-sm-3">
                    <p>2Behind sooner dining so window excuse he summer. Breakfast met certainty and fulfilled propriety led. Waited get either are wooded little her. Contrasted unreserved as mr particular collecting it everything as indulgence. Seems ask meant merry could put. Age old begin had boy noisy table front whole given.</p>
                </div>
                <div class="col-sm-9 mb60 wow fadeIn" data-wow-delay="0.2s">
                    <div class="row">
                        <div class="col-xs-12 single-post-content">                                
                            <div class="hover-item gap">                                    
                                <img src="{% static 'assets/img/team/WIPRO.jpg' %}" class="img-responsive smoothie wow fadeIn" data-wow-delay="0.2s" alt="title">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row project-item">
                <div class="col-sm-3">
                    <p>3Behind sooner dining so window excuse he summer. Breakfast met certainty and fulfilled propriety led. Waited get either are wooded little her. Contrasted unreserved as mr particular collecting it everything as indulgence. Seems ask meant merry could put. Age old begin had boy noisy table front whole given.</p>
                </div>
                <div class="col-sm-9 mb60 wow fadeIn" data-wow-delay="0.2s">
                    <div class="row">
                        <div class="col-xs-12 single-post-content">                                
                            <div class="hover-item gap">                                    
                                <img src="{% static 'assets/img/portfolio/portfolio9.jpg' %}" class="img-responsive smoothie wow fadeIn" data-wow-delay="0.2s" alt="title">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}